/* Global Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100vh; /* Ensure body takes full height */
  width: 100vw;  /* Ensure body takes full width */
}

.container {
  background: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%; /* Full width of the page */
  height: 100%; /* Full height of the page */
  max-width: 100%; /* Prevent limiting the width */
  max-height: 100%; /* Prevent limiting the height */
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Header Styles */
.header {
  background: #1c1c1c;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  flex-shrink: 0; /* Prevent shrinking */
}

.header h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
}

/* Content Styles */
.content {
  padding: 20px;
  flex-grow: 1; /* Allow content to grow and fill available space */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Space out content vertically */
}

.content h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.content p {
  font-size: 14px;
  color: #666;
  line-height: 1.6;
}

#checkStatus {
  font-size: 14px;
  margin: 10px 0;
  color: #ff5722;
}

#map {
  flex-grow: 1; /* Allow the map to grow and fill available space */
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* Location Styles */
.location {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  margin-bottom: 20px;
  color: #555;
}

.location .icon {
  font-size: 20px;
  color: #6c6c6c;
}

/* Buttons */
button {
  background: #1c1c1c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s ease;
  width: 100%;
}

button:hover {
  background: #000000;
}

button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.working-hour {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  padding: 12px;
}

/* Responsive Design */
@media (max-width: 768px) {
  #map {
      height: 250px;
  }

  .content h2 {
      font-size: 18px;
  }

  .content p {
      font-size: 13px;
  }

  button {
      font-size: 13px;
      padding: 10px 15px;
  }
}
